absl-py==1.4.0
aiofiles==22.1.0
aiohttp==3.9.5
aiohttp-cors==0.7.0
aiosignal==1.3.2
aiosqlite==0.21.0
ansicolors==1.1.8
anyio==4.8.0
apache-beam==2.46.0
appdirs==1.4.4
archspec
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array_record==0.6.0
arrow==1.3.0
asttokens==3.0.0
astunparse==1.6.3
async-timeout==4.0.3
atpublic==4.1.0
attrs==25.1.0
babel==2.17.0
backports.tarfile==1.2.0
beautifulsoup4==4.13.3
bidict==0.23.1
bigframes==0.22.0
bleach==6.2.0
blessed==1.20.0
boltons
Brotli
cachetools==4.2.4
certifi
cffi
charset-normalizer
click==8.1.8
cloud-tpu-client==0.10
cloud-tpu-profiler==2.4.0
cloudpickle==2.2.1
colorama
colorful==0.5.6
comm==0.2.2
conda-package-handling
conda_package_streaming
contourpy==1.3.1
crcmod==1.7
cryptography==42.0.8
cupy-cuda12x==13.3.0
cycler==0.12.1
Cython==3.0.11
dacite==1.9.2
dataproc_jupyter_plugin==0.1.80
db-dtypes==1.4.1
debugpy==1.8.12
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.1.1
distlib==0.3.9
distro
dm-tree==0.1.9
docker==7.1.0
docopt==0.6.2
docstring_parser==0.16
entrypoints==0.4
et_xmlfile
etils==1.11.0
exceptiongroup==1.2.2
executing==2.2.0
explainable-ai-sdk==1.3.3
Farama-Notifications==0.0.4
fastapi==0.115.8
fastavro==1.10.0
fasteners==0.19
fastjsonschema==2.21.1
fastrlock==0.8.3
filelock==3.17.0
flatbuffers==25.1.24
fonttools==4.55.8
fqdn==1.5.1
frozendict
frozenlist==1.5.0
fsspec==2025.2.0
gast==0.6.0
gcsfs==2025.2.0
geopandas==1.0.1
gitdb==4.0.12
GitPython==3.1.44
google-api-core==1.34.1
google-api-python-client==1.8.0
google-apitools==0.5.31
google-auth==2.38.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.2.1
google-cloud-aiplatform==1.79.0
google-cloud-artifact-registry==1.14.0
google-cloud-bigquery==3.25.0
google-cloud-bigquery-connection==1.17.0
google-cloud-bigquery-storage==2.16.2
google-cloud-bigtable==1.7.3
google-cloud-core==2.4.1
google-cloud-datastore==1.15.5
google-cloud-dlp==3.26.0
google-cloud-functions==1.19.0
google-cloud-iam==2.17.0
google-cloud-jupyter-config==0.0.10
google-cloud-language==1.3.2
google-cloud-monitoring==2.26.0
google-cloud-pubsub==2.28.0
google-cloud-pubsublite==1.11.1
google-cloud-recommendations-ai==0.7.1
google-cloud-resource-manager==1.14.0
google-cloud-spanner==3.51.0
google-cloud-storage==2.14.0
google-cloud-videointelligence==1.16.3
google-cloud-vision==3.9.0
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
gpustat==1.0.0
greenlet==3.1.1
grpc-google-iam-v1==0.12.7
grpc-interceptor==0.15.4
grpcio==1.65.5
grpcio-status==1.49.0rc1
gviz-api==1.10.0
gymnasium==1.0.0
h11==0.14.0
h2
h5py==3.12.1
hdfs==2.7.3
hpack
htmlmin==0.1.12
httplib2==0.21.0
httptools==0.6.4
humanize==4.11.0
hyperframe
ibis-framework==7.1.0
idna
ImageHash==4.3.1
immutabledict==4.2.1
importlib_metadata==8.4.0
importlib_resources==6.5.2
ipykernel==6.29.5
ipython==8.21.0
ipython-genutils==0.2.0
ipython-sql==0.5.0
ipywidgets==8.1.5
isoduration==20.11.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jeepney==0.8.0
Jinja2==3.1.5
joblib==1.4.2
json5==0.10.0
jsonpatch
jsonpointer
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter-http-over-ws==0.0.8
jupyter-server-mathjax==0.2.6
jupyter-ydoc==0.2.5
jupyter_client==7.4.9
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_fileid==0.9.3
jupyter_server_proxy==4.4.0
jupyter_server_terminals==0.5.3
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.8
jupyterlab_git==0.44.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
jupytext==1.16.6
keras==3.5.0
keras-tuner==1.4.7
kernels-mixer==0.0.15
keyring==25.6.0
keyrings.google-artifactregistry-auth==1.1.2
kfp==2.5.0
kfp-pipeline-spec==0.2.2
kfp-server-api==2.0.5
kiwisolver==1.4.8
kt-legacy==1.0.5
kubernetes==26.1.0
libclang==18.1.1
linkify-it-py==2.0.3
llvmlite==0.41.1
lz4==4.4.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.7.3
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
memray==1.15.0
mistune==3.1.1
ml-dtypes==0.4.1
more-itertools==10.6.0
msgpack==1.1.0
multidict==6.1.0
multimethod==1.12
multipledispatch==1.0.0
namex==0.0.8
narwhals==1.25.1
nbclassic==1.2.0
nbclient==0.10.2
nbconvert==7.16.6
nbdime==3.2.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
notebook==6.5.7
notebook_shim==0.2.4
numba==0.58.1
numpy==1.24.4
oauth2client==4.1.3
oauthlib==3.2.2
objsize==0.6.1
opencensus==0.11.4
opencensus-context==0.1.3
openpyxl
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opt_einsum==3.4.0
optree==0.14.0
orjson==3.10.15
ormsgpack==1.7.0
overrides==7.7.0
packaging
pandas==2.0.3
pandocfilters==1.5.1
papermill==2.6.0
parso==0.8.4
parsy==2.1
patsy==1.0.1
pendulum==3.0.0
pexpect==4.9.0
phik==0.12.4
pillow==11.1.0
pins==0.8.7
platformdirs
plotly==6.0.0
pluggy
prettytable==3.14.0
prometheus_client==0.21.1
promise==2.3
prompt_toolkit==3.0.50
propcache==0.2.1
proto-plus==1.26.0
protobuf==3.20.3
psutil==5.9.3
ptyprocess==0.7.0
pure_eval==0.2.3
py-spy==0.4.0
pyarrow==9.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycosat
pycparser
pydantic==1.10.21
pydata-google-auth==1.9.1
pydot==1.4.2
Pygments==2.19.1
PyJWT==2.10.1
pymongo==3.13.0
pyogrio==0.10.0
pyOpenSSL==24.0.0
pyparsing==3.2.1
pyproj==3.7.0
PySocks
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==3.2.1
pytz==2025.1
PyWavelets==1.8.0
PyYAML==6.0.2
pyzmq==26.2.1
ray==2.42.0
referencing==0.36.2
regex==2024.11.6
requests
requests-oauthlib==2.0.0
requests-toolbelt==0.10.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
ruamel.yaml
ruamel.yaml.clib
scikit-learn==1.6.1
scipy==1.11.4
seaborn==0.12.2
SecretStorage==3.3.3
Send2Trash==1.8.3
shapely==2.0.7
simpervisor==1.0.0
simple-parsing==0.1.7
six==1.17.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.37
sqlglot==19.9.0
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.45.3
statsmodels==0.14.4
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tenacity==9.0.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorboard-plugin-profile==2.19.0
tensorboardX==2.6.2.2
tensorflow==2.17.0
tensorflow-datasets==4.9.7
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io==0.37.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==0.14.0
tensorflow-probability==0.25.0
tensorflow-serving-api==2.17.0
tensorflow-transform==0.14.0
termcolor==2.5.0
terminado==0.18.1
textual==1.0.0
tf_keras==2.17.0
threadpoolctl==3.5.0
time-machine==2.16.0
tinycss2==1.4.0
toml==0.10.2
tomli==2.2.1
toolz==0.12.1
tornado==6.4.2
tqdm
traitlets==5.14.3
truststore
typeguard==4.4.1
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2025.1
uc-micro-py==1.0.3
uri-template==1.3.0
uritemplate==3.0.1
urllib3==1.26.20
uvicorn==0.34.0
uvloop==0.21.0
virtualenv==20.29.1
visions==0.7.5
watchfiles==1.0.4
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.2
Werkzeug==3.1.3
widgetsnbextension==4.0.13
witwidget==1.8.1
wordcloud==1.9.4
wrapt==1.17.2
xxhash==3.5.0
y-py==0.6.2
yarl==1.18.3
ydata-profiling==4.6.0
ypy-websocket==0.8.4
zipp==3.21.0
zstandard==0.23.0
